@model AssignmentGame.Models.Game

@{
    ViewBag.Title = "checkNumber";
}

<h1>Congratulations, You Won!!!</h1>
<h3 style="color:cadetblue;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Turns Used : @ViewBag.Counter</h3>

